<!DOCTYPE html>
<html>
<head>
    <title>Checkout canceled</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<section>
    <p>Forgot to add something to your cart? Shop around then come back to pay!</p>
    <p>
        return to shop : <a href="/">SHOP</a>
    </p>
</section>
</body>
</html>