<%- include("../partials/head") %>
<a href="/"><button>retour</button></a>
<div style="border: solid black 1px; margin: 10px;">
    <h2>achat en cour : <%= produit.nom%></h2>
    <form action="/shop/payer/<%= produit.id %>" method="post">
        <td><input name="quantite" type="number" step="1" placeholder="quantite" /></td>
        <td><input name="email" type="email" placeholder="email" required/></td>
        <td>
            <button type="submit">acheter</button>
        </td>
    </form>
</div>

<div style="border: solid black 1px;margin: 10px;">
    <h2>upsell</h2>
    <% upsell.forEach(element => { %>
        <div style="border: solid black 1px;">
            <span><%= element.nom %></span>
            <span><%= element.prix %></span>
            <a href="/shop/produit/<%= element.id %>">
                <button>acheter</button>
            </a>
        </div>
    <% }) %>
</div>