<%- include("../partials/head") %>
<body>
<table class="table">
    <thead class="thead-dark">
    <tr>
        <th scope="col">#</th>
        <th scope="col">nom</th>
        <th scope="col">prix</th>
        <th scope="col">action</th>
    </tr>
    </thead>
    <tbody>
    <% produits.forEach(produit => { %>
        <tr>
            <th scope="row"><%= produit.id %></th>
            <td><%= produit.nom %></td>
            <td><%= produit.prix %></td>
            <td><a href="/shop/produit/<%= produit.id %>"><button>acheter</button></a></td>
        </tr>
    <% }) %>
    </tbody>
</table>
</body>