<!DOCTYPE html>
<html>
<head>
    <title>Thanks for your order!</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<section>
    <p>
        We appreciate your business! If you have any questions, please email
        <a href="mailto:orders@example.com">orders@example.com</a>.
    </p>
    <p>
        return to shop : <a href="/">SHOP</a>
    </p>
</section>
</body>
</html>